## Tugas Array
Buatlah data berikut dengan libary / pustaka pandas

In [8]:
import numpy as np

In [9]:
import pandas as np

In [10]:
pip install pandas

Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (2.0.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\user\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [4]:
import pandas as pd
Data={'Nama':['Ana','Anu','Ano','Ani','Ane','Abu','Abi'],
      'kelas':['2A','2B','2C','2D','2E','2F','2G'],
      'Gender':['cewek','cowok','cowok','cewek','cewek','cowok','cowok'],
      'Nomor_HP':['08113322582','08129988563','08137896541','08144447789','08158886665','08173337744','08198877444']}

df = pd.DataFrame(Data)
print(df)

  Nama kelas Gender     Nomor_HP
0  Ana    2A  cewek  08113322582
1  Anu    2B  cowok  08129988563
2  Ano    2C  cowok  08137896541
3  Ani    2D  cewek  08144447789
4  Ane    2E  cewek  08158886665
5  Abu    2F  cowok  08173337744
6  Abi    2G  cowok  08198877444

1. Tambahkan kolom baru yaitu "domisili_asal", yang isinya: "Pekanbaru" dan "Luar kota"

In [1]:
import pandas as pd

Data={'Nama':['Ana','Anu','Ano','Ani','Ane','Abu','Abi'],
      'Kelas':['2A','2B','2C','2D','2E','2F','2G'],
      'Gender':['cewek','cowok','cowok','cewek','cewek','cowok','cowok'],
      'Nomor_HP':['08113322582','08129988563','08137896541','08144447789','08158886665','08173337744','08198877444']}

df = pd.DataFrame(Data)

df['Domisili_asal'] = ['Pekanbaru','Luar kota', 'Pekanbaru', 'Luar kota', 'Luar kota', 'Pekanbaru','Luar kota']
print("DataFrame setelah menambahkan kolom'Domisili_asal':")
print(df)
print("\n")

DataFrame setelah menambahkan kolom'Domisili_asal':
  Nama Kelas Gender     Nomor_HP Domisili_asal
0  Ana    2A  cewek  08113322582     Pekanbaru
1  Anu    2B  cowok  08129988563     Luar kota
2  Ano    2C  cowok  08137896541     Pekanbaru
3  Ani    2D  cewek  08144447789     Luar kota
4  Ane    2E  cewek  08158886665     Luar kota
5  Abu    2F  cowok  08173337744     Pekanbaru
6  Abi    2G  cowok  08198877444     Luar kota

2. Hapus kolom Nomor_HP

In [5]:
import pandas as pd
Data={'Nama':['Ana','Anu','Ano','Ani','Ane','Abu','Abi'],
      'Kelas':['2A','2B','2C','2D','2E','2F','2G'],
      'Gender':['cewek','cowok','cowok','cewek','cewek','cowok','cowok'],
      'Nomor_HP':['08113322582','08129988563','08137896541','08144447789','08158886665','08173337744','08198877444']}

df = pd.DataFrame(Data)

df = df.drop(columns=['Nomor_HP'])
print("DataFrame setelah menghapus kolom 'nomor_HP':")
print(df)
print("\n")

DataFrame setelah menghapus kolom 'nomor_HP':
  Nama Kelas Gender
0  Ana    2A  cewek
1  Anu    2B  cowok
2  Ano    2C  cowok
3  Ani    2D  cewek
4  Ane    2E  cewek
5  Abu    2F  cowok
6  Abi    2G  cowok

3. Tambahkan kolom "usia", isinya bebas

In [8]:
import pandas as pd
Data={'Nama': ['Ana','Anu','Ano','Ani','Ane','Abu','Abi'],
      'Kelas': ['2A','2B','2C','2D','2E','2F','2G'],
      'Gender': ['cewek','cowok','cowok','cewek','cewek','cowok','cowok'],
      'Nomor_HP': ['08113322582','08129988563','08137896541','08144447789','08158886665','08173337744','08198877444']}

df = pd.DataFrame(Data)

df['Usia'] = ['18','19','17','18','19','20','18']
print("DataFrame setelah menambahkan kolom 'Usia':")
print(df)
print("\n")

DataFrame setelah menambahkan kolom 'Usia':
  Nama Kelas Gender     Nomor_HP Usia
0  Ana    2A  cewek  08113322582   18
1  Anu    2B  cowok  08129988563   19
2  Ano    2C  cowok  08137896541   17
3  Ani    2D  cewek  08144447789   18
4  Ane    2E  cewek  08158886665   19
5  Abu    2F  cowok  08173337744   20
6  Abi    2G  cowok  08198877444   18

4. Hitung rata-rata usia dengan perintah "mean" dan total usia dengan perintah "sum"

Ketika kolom usia di tambah di awal baru cari rata rata usia

In [10]:
import pandas as pd
Data={'Nama':['Ana','Anu','Ano','Ani','Ane','Abu','Abi'],
      'Kelas':['2A','2B','2C','2D','2E','2F','2G'],
      'Gender':['cewek','cowok','cowok','cewek','cewek','cowok','cowok'],
      'Nomor_HP':['08113322582','08129988563','08137896541','08144447789','08158886665','08173337744','08198877444'],
      'Usia':['18','19','17','18','19','20','18']}

df = pd.DataFrame(Data)

rata_usia = df['Usia'].mean()
print("Rata-rata Usia:", rata_usia)
print("\n")

Rata-rata Usia: 2598816884574.0

Ketika kolom usia di tambah menggunakan perintah baru mencari rata rata

In [5]:
import pandas as pd
Data={'Nama': ['Ana','Anu','Ano','Ani','Ane','Abu','Abi'],
      'Kelas': ['2A','2B','2C','2D','2E','2F','2G'],
      'Gender': ['cewek','cowok','cowok','cewek','cewek','cowok','cowok'],
      'Nomor_HP': ['08113322582','08129988563','08137896541','08144447789','08158886665','08173337744','08198877444']}

df = pd.DataFrame(Data)

df['Usia'] = ['18','19','17','18','19','20','18']
print("DataFrame setelah menambahkan kolom 'Usia':")
print(df)
print("\n")

rata_usia = df['Usia'].mean()
print("Rata-rata Usia:", rata_usia)
print("\n")

DataFrame setelah menambahkan kolom 'Usia':
  Nama Kelas Gender     Nomor_HP Usia
0  Ana    2A  cewek  08113322582   18
1  Anu    2B  cowok  08129988563   19
2  Ano    2C  cowok  08137896541   17
3  Ani    2D  cewek  08144447789   18
4  Ane    2E  cewek  08158886665   19
5  Abu    2F  cowok  08173337744   20
6  Abi    2G  cowok  08198877444   18


Rata-rata Usia: 2598816884574.0

Ketika kolom usia di tambah di awal baru cari total usia

In [1]:
import pandas as pd

Data={'Nama':['Ana','Anu','Ano','Ani','Ane','Abu','Abi'],
      'Kelas':['2A','2B','2C','2D','2E','2F','2G'],
      'Gender':['cewek','cowok','cowok','cewek','cewek','cowok','cowok'],
      'Nomor_HP':['08113322582','08129988563','08137896541','08144447789','08158886665','08173337744','08198877444'],
      'Usia':['18','19','17','18','19','20','18']}

df = pd.DataFrame(Data)

total_Usia =df['Usia'].sum()
print("total Usia:", total_Usia)

total Usia: 18191718192018

Ketika kolom usia di tambah menggunakan perintah baru mencari rata rata

In [2]:
import pandas as pd
Data={'Nama': ['Ana','Anu','Ano','Ani','Ane','Abu','Abi'],
      'Kelas': ['2A','2B','2C','2D','2E','2F','2G'],
      'Gender': ['cewek','cowok','cowok','cewek','cewek','cowok','cowok'],
      'Nomor_HP': ['08113322582','08129988563','08137896541','08144447789','08158886665','08173337744','08198877444']}

df = pd.DataFrame(Data)

df['Usia'] = ['18','19','17','18','19','20','18']
print("DataFrame setelah menambahkan kolom 'Usia':")
print(df)
print("\n")

total_Usia =df['Usia'].sum()
print("total Usia:", total_Usia)

DataFrame setelah menambahkan kolom 'Usia':
  Nama Kelas Gender     Nomor_HP Usia
0  Ana    2A  cewek  08113322582   18
1  Anu    2B  cowok  08129988563   19
2  Ano    2C  cowok  08137896541   17
3  Ani    2D  cewek  08144447789   18
4  Ane    2E  cewek  08158886665   19
5  Abu    2F  cowok  08173337744   20
6  Abi    2G  cowok  08198877444   18


total Usia: 18191718192018

5. Hitung berapa yang berasal dari "Pekanbaru" dan " Luar kota"

Ketika Kolom Domisili_asal di tambah pada bagian awal

In [3]:
import pandas as pd

Data={'Nama':['Ana','Anu','Ano','Ani','Ane','Abu','Abi'],
      'Kelas':['2A','2B','2C','2D','2E','2F','2G'],
      'Gender':['cewek','cowok','cowok','cewek','cewek','cowok','cowok'],
      'Nomor_HP':['08113322582','08129988563','08137896541','08144447789','08158886665','08173337744','08198877444'],
      'Domisili_asal': ['Pekanbaru','Luar kota', 'Pekanbaru', 'Luar kota', 'Luar kota', 'Pekanbaru','Luar kota']}

df = pd.DataFrame(Data)

jumlah_per_Domisili_asal = df['Domisili_asal'].value_counts()
print("jumlah orang per Domisili_asal:")
print(jumlah_per_Domisili_asal)

jumlah orang per Domisili_asal:
Domisili_asal
Luar kota    4
Pekanbaru    3
Name: count, dtype: int64

ketika Kolom Domisili_asal di tambah menggunakan perintah baru masukkan perintah jumlah domisili

In [4]:
import pandas as pd

Data={'Nama':['Ana','Anu','Ano','Ani','Ane','Abu','Abi'],
      'Kelas':['2A','2B','2C','2D','2E','2F','2G'],
      'Gender':['cewek','cowok','cowok','cewek','cewek','cowok','cowok'],
      'Nomor_HP':['08113322582','08129988563','08137896541','08144447789','08158886665','08173337744','08198877444']}

df = pd.DataFrame(Data)

df['Domisili_asal'] = ['Pekanbaru','Luar kota', 'Pekanbaru', 'Luar kota', 'Luar kota', 'Pekanbaru','Luar kota']
print("DataFrame setelah menambahkan kolom'Domisili_asal':")
print(df)
print("\n")

jumlah_per_Domisili_asal = df['Domisili_asal'].value_counts()
print("jumlah orang per Domisili_asal:")
print(jumlah_per_Domisili_asal)

DataFrame setelah menambahkan kolom'Domisili_asal':
  Nama Kelas Gender     Nomor_HP Domisili_asal
0  Ana    2A  cewek  08113322582     Pekanbaru
1  Anu    2B  cowok  08129988563     Luar kota
2  Ano    2C  cowok  08137896541     Pekanbaru
3  Ani    2D  cewek  08144447789     Luar kota
4  Ane    2E  cewek  08158886665     Luar kota
5  Abu    2F  cowok  08173337744     Pekanbaru
6  Abi    2G  cowok  08198877444     Luar kota


jumlah orang per Domisili_asal:
Domisili_asal
Luar kota    4
Pekanbaru    3
Name: count, dtype: int64